
        .container {
       
            padding: 20px;
            border: 1px solid black;
        }
        h1 {
            font-size: 60px;
             color: rebeccapurple;
             border-bottom: 10px dotted rebeccapurple;
             padding-bottom:15px;
        }
        .job-title {
            color: #999999;
            font-weight: bold;
            font-size: 2em;
           
        }

        p {
            font-size: 30px;
            color: rgb(9, 8, 8);
        }
        h2 {
            font-size: 3em;
            color: rgb(95 89 89);
            font-style: italic;
        }
        ul {
            border: 5px solid rgb(245, 27, 248);
            padding-top: 40px;
            padding-bottom: 40px;
            background: lightgray;
            
        }
         ul li {
            font-size: 30px;
            color: rgb(9, 8, 8);
            
          }
          .green{
                color: green;
          }
          .red {
              color: red;
          }
          a {
                text-decoration: none;
          }
         
          a:visited {
              color: blue;
          }
          a:hover {
              color: red;
          }
  