@import url('global.css');

.container {
    margin: 15px;
    font-size: 17px;
    font-family: var(--font-family);
    font-weight: 600;
    gap:15px;
    border: 5px solid var(--black);
}

 header, footer, main {
   padding: 10px;
   margin: 10px;
    border: 5px solid var(--black);
}
header, footer {
    min-height: 80px;
    flex: 100%;
}

main {
    
    gap: 15px;
   
   
}
.main-sub {
    flex: 2;
    gap: 15px;
}
.main-sub > div {
    flex: 1;
    border: 5px solid var(--black);
    padding: 10px;
    
}
.main-mid {
    flex: 1;
    gap: 15px;
}
.top, .bottom {
    border: 5px solid var(--black);
    padding: 10px;
    
}
/* Responsive */
@media (max-width: 600px) {
  main {
    flex-direction: column;
  }
}
