
        .container {
            width: 400px;
            height: 400px;
            background-color: aqua;
            margin: 0 auto;
        }
        .container-1 {
            width: 200px;
            height: 200px;
            background-color: goldenrod;
            margin: 0 auto;
            position: relative;
        }
        .absoluteDiv {
            width: 100px;
            height: 100px;
            background-color: rgb(255, 0, 0);
            position: absolute;
            top: 50%;
            left: 50%;
            
        }
        .box {
            width: 100px;
            height: 100px;
            text-align: center;
            line-height: 100px;
            font-size: 20px;
        }
        .green {
            background-color: green;
            position: relative;
        }
        .pink {
            background-color: rgb(212, 57, 161);
            position: absolute;
            bottom: 50%;
            right: 10px;
        }
        .yellow {
            background-color: yellow;
            position: static;
        }
        .blue {
            background-color: blue;
            position: fixed;
            bottom: 0;
            right: 0;
        }
        .orange {
            background-color: orange;
            position: sticky;
            top: 10px;
            left: 50%;
        }
        .spacer {
            height: 300vh;
            background-color: rgb(0, 217, 255);
        }
   